* {
    box-sizing: border-box;
}
.Footer
{
       height: 70px;
    position: fixed;
    bottom: 0;
    background: #201D1E;
    padding: 10px 0;
    width: 100vw;
}
.app
{
    position: relative;
width: 100vw;
height: 704px;

}
.login
{
 position: relative;
 top: 100px;
 background:azure;
 padding:100px;
 padding-right: 10px;
 
}
.list
{
 position: relative;
 top: 100px;
 background:azure;
 width:100vw;
}
.navBar--navigator{
    position: relative;
    display: flex;
width: 100vw;
height: 50px;
background: #F55A5A;
color: #FFFFFF;


}
.navigator--text{
    
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 23.4608px;
line-height: 40px;
padding-right: 100px;
color: #FFFFFF;


}
.navBar{
    position: relative;
width: 100vw;
height: 100px;
left: 0px;
top: 0px;

background: #F55A5A;
}

.navBar--text
{
    position: absolute;
width: 2000px;
height: 1600px;
left: 344px;
top: 20px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 60.4608px;
line-height: 18px;
letter-spacing: -0.075em;

color: #FFFFFF;
}
.navBar--welcome
{
    position: relative;


left: 1044px;
top: 20px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 40.4608px;


color: #FFFFFF;
}
.navBar--button
{
    background: #F55A5A;
    position: relative;
    color: #FFFFFF;
    width: 150px;
height: 70px;
    left:800px;
    top:10px;
    margin-right: 10px;
    
}
.card
{
 display: flex;
 flex-direction: column;
 position: relative;
width: 90vw;
height: 350px;
left: 0px;
bottom: 100px;

outline:auto;
background-color:aliceblue;
padding:150px;

}
.card--img
{
position: absolute;
width: 170px;
height: 168px;
left: 10px;
top: 120px;

border-radius: 5px;
}
.card--logo
{
position: absolute;
width: 7px;
height: 9.55px;
left: 184px;
top: 120px;

}
.card--text
{
    position: absolute;
width: 200px;
height: 10px;
left: 195px;
top: 100px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20.24px;
line-height: 12px;
letter-spacing: 0.17em;

color: #2B283A;
}
.card--link
{
position: absolute;
width: 100px;
height: 30px;
left: 500px;
top: 119px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 12px;
/* identical to box height */

text-decoration-line: underline;

color: #918E9B;
}
.card--par
{
    position: absolute;
width: 70vw;
height: 45px;
left: 184px;
top: 203px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 25.24px;
line-height: 150%;
/* or 15px */


color: #2B283A;
}
.card--dat
{
    position: absolute;
width: 300px;
height: 45px;
left: 184px;
top: 203px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 17.24px;
line-height: 150%;
/* or 15px */


color: #2B283A;
}
.card--tit
{
   position: absolute;
width: 1000px;
height: 40px;
left: 184px;
top: 146px;

font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 30px;

color: #2B283A; 
}